body{
	padding: 0;
	margin: 0;
}
a,span{
	display: block;
	text-decoration: none;
}
.box{
	width: 100%;
	height: 48px;

	overflow: hidden;	
}
.box .logo{
	width: 195px;
	height: 48px;
	margin: 14px 0 0 83px;
	background-image: url(../img/logo.png);
	background-size: 195px 48px;
	float: left;
	margin-top: 0;
}
.box .navo{
	width: 786px;
	height: 44px;
	margin: 16px 75px 0 0;
	float: right;
	text-align: right;
	line-height: 44px;
}
.box .navo a{
	width: 70px;
	height: 44px;
	padding: 0 20px;
	color: #000;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
	float: right;
	position: relative;
	top: 0;
	left: 0;
	margin-top: -10px;
	transition: all .4s;
}
.box .navo a:hover{
	color: red;
   	text-decoration: underline;
	float: right;
	transition: all 1s linear;

}
.box .navo a span{
	width: 110px;
	height: 187px;
	background: #fff;
	color: #000;
    font-size: 16px;
    line-height: 44px;
    position: absolute;
    top: 44px;
    right: 0;
    display: none;
    transition: all 1s linear;

}
.box .navo a:hover span{
	display: block;
	transition-delay:5s;
}
.box .navo .top2{
	width: 569px;
	height: 59px;
	
}
.box1{
	width: 1170px;
	height: 667px;
	margin: 50px auto 10px;
}
.box1 .boxa{
	width: 428px;
	height: 100%;
	float: left;
}
.box1 .boxa .boxa-1{
	width: 428px;
	height: 428px;
	background-image: url(../img/AC3350OX.jpg);
	background-size: 428px;
}
.box1 .boxa .boxa-2{
	width: 428px;
	height: 90px;
	margin-top: 20px;
}
.box1 .boxa .boxa-2 div{
	width: 90px;
	height: 90px;
	float: left;
}
.box1 .boxa .boxa-2 .tu1{
	background-image:url(../img/AC3350OX.jpg);
	background-size: 90px;
}
.box1 .boxa .boxa-2 .tu2{
	background-image:url(../img/AC3350OX_1.jpg);
	background-size: 90px;
}
.box1 .boxa .boxa-2 .tu3{
	background-image:url(../img/AC3350OX.jpg);
	background-size: 90px;
}
.box1 .boxa .boxa-2 .tu4{
	background-image:url(../img/default.jpg);
	background-size: 90px;
}
.box1 .boxb{
	width: 652px;
	height: 100%;
	float: right;
}
.box1 .boxb span{
	width: 100%;
	height: 22px;
	font-size: 20px;
	color: #999;
	margin-top: 10px;
}
.box1 .boxb .xian1{
	width: 100%;
	height: 1px;
	margin: 15px 0;
	background: #999;
}
.box1 .boxb .gw1{
	width: 50px;
	height: 22px;
	font-size: 20px;
	color: #999;
	margin: 10px 0;
	float: left;
}
.box1 .boxb .gw2{
	width: 22px;
	height: 22px;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	color: #646464;
	background: #F9F9F9;
	margin: 10px 0;
	border: 1px solid #000;
	margin-left: 30px;
	float: left;
}
.box1 .boxb .gw3{
	width: 50px;
	height: 22px;
	font-size: 20px;
	line-height: 22px;
	text-align: center;
	color: #646464;
	margin: 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	float: left;
}
.box1 .boxb .gw4{
	width: 22px;
	height: 22px;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	color: #646464;
	background: #F9F9F9;
	margin: 10px 0;
	border: 1px solid #000;
	float: left;
}
.box1 .boxb .gwbox{
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 20px;
}
.box1 .boxb .gwbox .gw5{
	width: 144px;
	height: 40px;
	font-size: 18px;
	color: #000;
	text-align: center;
	line-height: 40px;
	border: 1px solid #000;
	border-radius: 40px;
	box-sizing: border-box;
	float: left;
}
.box1 .boxb .gwbox .gw6{
	width: 40px;
	height: 40px;
	background-image: url(../img/xin.png);
	background-size: 26px;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #000;
	border-radius: 40px;
	box-sizing: border-box;
	margin-left: 10px;
	float: left;
}
.weibu{
	width: 100%;
	height: 413px;
	background: #333;
	overflow: hidden;
}
.weibu .boxa{
	width: 1138px;
	height: 195px;
	margin: 54px auto;
}
.weibu .boxa .boxa-1{
	width: 320px;
	height: 195px;
	float: left;
}
.weibu .boxa .boxa-1 h1{
	font-size: 18px;
	color: rgb(255, 255, 255);
	text-align: left;	
	margin-bottom: 25px;
}
.weibu .boxa .boxa-1 span{
	font-size: 14px;
	color: #ccc;
	text-align: left;	
	margin-top: 10px;
}
.weibu .boxa .boxa-2{
	width: 76px;
	height: 121px;
	float: left;
	margin-left: 216px;
}
.weibu .boxa .boxa-2 h1{
	font-size: 18px;
	color: rgb(255, 255, 255);
	text-align: left;	
	margin-bottom: 25px;
}
.weibu .boxa .boxa-2 span{
	font-size: 14px;
	color: #ccc;
	text-align: left;	
	margin-top: 10px;
}
.weibu .boxa .boxa-3{
	width: 159px;
	height: 176px;
	float: right;
}
.weibu .boxa .boxa-3 a{
	width: 159px;
	height: 176px;
	background-image: url(../img/weixin.png);
	background-size: 159px;
	background-repeat: no-repeat;
	float: right;
}
.weibu .boxa .boxa-3 span{
	font-size: 14px;
	color: #ccc;
	text-align: left;	
}
.weibu .n1{
	width: 1200px;
	height: 16px;
	font-size: 14px;
	color: #ccc;
	text-align: center;
	line-height: 16px;
	margin: 0 auto;
}
.weibu .n2{
	width: 1200px;
	height: 24px;
	font-size: 14px;
	color: #ccc;
	text-align: center;
	line-height: 24px;
	margin: 0 auto;
}
